In [3]:

# check xgboost version
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.5-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\ping2\anaconda3\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\ping2\anaconda3\lib\site-packages (from xgboost) (1.15.3)
Downloading xgboost-3.0.5-py3-none-win_amd64.whl (56.8 MB)
   ---------------------------------------- 0.0/56.8 MB ? eta -:--:--
   --- ------------------------------------ 5.0/56.8 MB 32.2 MB/s eta 0:00:02
   ------- -------------------------------- 10.2/56.8 MB 29.1 MB/s eta 0:00:02
   --------- ------------------------------ 13.4/56.8 MB 24.1 MB/s eta 0:00:02
   ---------- ----------------------------- 14.4/56.8 MB 18.7 MB/s eta 0:00:03
   ---------- ----------------------------- 14.9/56.8 MB 15.1 MB/s eta 0:00:03
   ---------- ----------------------------- 15.5/56.8 MB 12.8 MB/s eta 0:00:04
   ----------- ---------------------------- 16.0/56.8 MB 11.4 MB/s eta 0:00:04
   ----------- ---------------------------- 16.8/56.8 MB 10.4 MB/s eta 0:00:04
   ------------ --------------------------- 17.6/56.8 MB 9.7 MB/s eta 0:00:05
   ------------- -------------------------- 18.6/56.8 MB 9.2 MB/s eta 0:00:05
   -------------- ------------------------- 19.9/56.8 MB 8.8 MB/s eta 0:00:05
   -------------- ------------------------- 21.2/56.8 MB 8.6 MB/s eta 0:00:05
   --------------- ------------------------ 22.5/56.8 MB 8.4 MB/s eta 0:00:05
   ---------------- ----------------------- 24.1/56.8 MB 8.3 MB/s eta 0:00:04
   ------------------ --------------------- 26.0/56.8 MB 8.3 MB/s eta 0:00:04
   ------------------- -------------------- 27.8/56.8 MB 8.4 MB/s eta 0:00:04
   -------------------- ------------------- 29.6/56.8 MB 8.4 MB/s eta 0:00:04
   ---------------------- ----------------- 31.7/56.8 MB 8.5 MB/s eta 0:00:03
   ----------------------- ---------------- 33.8/56.8 MB 8.6 MB/s eta 0:00:03
   ------------------------- -------------- 36.2/56.8 MB 8.7 MB/s eta 0:00:03
   --------------------------- ------------ 38.5/56.8 MB 8.9 MB/s eta 0:00:03
   ---------------------------- ----------- 41.2/56.8 MB 9.0 MB/s eta 0:00:02
   ------------------------------ --------- 43.8/56.8 MB 9.2 MB/s eta 0:00:02
   -------------------------------- ------- 46.7/56.8 MB 9.3 MB/s eta 0:00:02
   ---------------------------------- ----- 49.3/56.8 MB 9.5 MB/s eta 0:00:01
   ------------------------------------ --- 52.4/56.8 MB 9.7 MB/s eta 0:00:01
   -------------------------------------- - 55.3/56.8 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------- 56.8/56.8 MB 9.8 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.5

In [6]:
import pandas as pd

In [8]:
dataset = pd.read_csv("insurance_pre.csv")

In [9]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [10]:
dataset = pd.get_dummies(dataset,dtype=int,drop_first= True)

In [11]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [12]:
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [18]:
from xgboost import XGBRegressor
regressor = XGBRegressor()
regressor = regressor.fit(x_train,y_train)

In [19]:
y_pred = regressor.predict(x_test)

In [20]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_pred)

In [21]:
r_score

0.8213337063789368