In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("Placement.csv")

In [4]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [6]:
dataset.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [7]:
dataset.dtypes["gender"]

dtype('O')

In [8]:
dataset.dtypes["ssc_p"]

dtype('float64')

In [9]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [10]:
for columnName in dataset.columns:
    print(columnName)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

In [11]:
quan=[]
qual=[]
for columnName in dataset.columns:
    if(dataset[columnName].dtype=="object"):
        qual.append(columnName)
    else:
        quan.append(columnName)

In [12]:
quan,qual

(['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'],
 ['gender',
  'ssc_b',
  'hsc_b',
  'hsc_s',
  'degree_t',
  'workex',
  'specialisation',
  'status'])

In [13]:
def quanqual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        if(dataset[columnName].dtype=="object"):
            qual.append(columnName)
        else:
            quan.append(columnName)   
    return quan,qual;

In [14]:
quan,qual = quanqual(dataset)

In [15]:
print(quan,qual)

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'] ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

#Central Tendency

In [16]:
dataset["ssc_p"].mean()

np.float64(67.30339534883721)

In [17]:
dataset["ssc_p"].mode()[0]

np.float64(62.0)

In [18]:
dataset["ssc_p"].median()

np.float64(67.0)

In [19]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [20]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [21]:
descriptive["sl_no"]["Mean"] =0

In [22]:
for columnName in quan:
    descriptive[columnName]["Mean"] =dataset[columnName].mean()
    descriptive[columnName]["Median"] =dataset[columnName].median()
    descriptive[columnName]["Mode"] =dataset[columnName].mode()[0]

In [23]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [24]:
import numpy as np

In [25]:
np.percentile(dataset["ssc_p"],100)

np.float64(89.4)

In [26]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5Rule","Lesser","Greater","Min","Max"],columns=quan)

In [27]:
for columnName in quan:
    descriptive[columnName]["Mean"] =dataset[columnName].mean()
    descriptive[columnName]["Median"] =dataset[columnName].median()
    descriptive[columnName]["Mode"] =dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"] =dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"] =dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"] =dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"] =np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"] =dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"] =descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5Rule"] =1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"] =descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Greater"] =descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Min"] =dataset[columnName].min();
    descriptive[columnName]["Max"] =dataset[columnName].max();

In [28]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [29]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"])<(descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"])>(descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [30]:
lesser

['hsc_p']

In [31]:
greater

['hsc_p', 'degree_p', 'salary']

In [32]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [33]:
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]] =descriptive[columnName]["Lesser"]
for columnName in greater:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]] =descriptive[columnName]["Greater"]

In [35]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5Rule","Lesser","Greater","Min","Max","Kurtosis","Skew"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"] =dataset[columnName].mean()
    descriptive[columnName]["Median"] =dataset[columnName].median()
    descriptive[columnName]["Mode"] =dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"] =dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"] =dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"] =dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"] =np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"] =dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"] =descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5Rule"] =1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"] =descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Greater"] =descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Min"] =dataset[columnName].min();
    descriptive[columnName]["Max"] =dataset[columnName].max();
    descriptive[columnName]["Kurtosis"] =dataset[columnName].kurtosis();
    descriptive[columnName]["Skew"] =dataset[columnName].skew();

In [36]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.129,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0
Kurtosis,-1.2,-0.60751,0.086901,-0.09749,-1.08858,-0.470723,-0.239837
Skew,0.0,-0.132649,0.162611,0.204164,0.282308,0.313576,0.8067

In [ ]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"])<(descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"])>(descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [ ]:
lesser

In [ ]:
greater

In [ ]:
dataset["ssc_p"].value_counts().sort_values

In [ ]:
freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative_Frequency","Cumsum"])

In [ ]:
freqTable

In [ ]:
dataset["ssc_p"]

In [ ]:
len(dataset.dropna())

In [ ]:
freqTable["Unique_Values"] = dataset["ssc_p"].value_counts().index
freqTable["Frequency"] = dataset["ssc_p"].value_counts().values
freqTable["Relative_Frequency"] = freqTable["Frequency"]/103
freqTable["Cumsum"] = freqTable["Relative_Frequency"].cumsum()

In [ ]:
freqTable

In [ ]:
def freqTable(columnName, dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative_Frequency","Cumsum"])
    freqTable["Unique_Values"] = dataset[columnName].value_counts().index
    freqTable["Frequency"] = dataset[columnName].value_counts().values
    freqTable["Relative_Frequency"] = freqTable["Frequency"]/103
    freqTable["Cumsum"] = freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [ ]:
freqTable("ssc_p",dataset)

In [ ]:
def Univariate(dataset,  quan):
    descriptive1= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5Rule","Lesser","Greater","Min","Max"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["Mean"] =dataset[columnName].mean()
        descriptive[columnName]["Median"] =dataset[columnName].median()
        descriptive[columnName]["Mode"] =dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"] =dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"] =dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"] =dataset.describe()[columnName]["75%"]
        descriptive[columnName]["99%"] =np.percentile(dataset[columnName],99)
        descriptive[columnName]["Q4:100%"] =dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"] =descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5Rule"] =1.5*descriptive[columnName]["IQR"]
        descriptive[columnName]["Lesser"] =descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5Rule"]
        descriptive[columnName]["Greater"] =descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5Rule"]
        descriptive[columnName]["Min"] =dataset[columnName].min();
        descriptive[columnName]["Max"] =dataset[columnName].max();
    return descriptive;

In [37]:
Univariate(dataset,quan)

NameError: name 'Univariate' is not defined

In [ ]:
Univariate.Univariate(dataset,quan)